<div class="example">
{{moment-duration 5000}}
<code>
  \{{moment-duration 5000}}
</code>
</div>

<div class="example">
{{moment-duration 600000}}
<code>
  \{{moment-duration 600000}}
</code>
</div>

<div class="example">
{{moment-duration 86400000}}
<code>
  \{{moment-duration 86400000}}
</code>
</div>

<div class="example">
{{moment-duration '7.23:59:59'}}
<code>
  \{{moment-duration '7.23:59:59'}}
</code>
</div>

<div class="example">
{{moment-duration 210 'days'}}
<code>
  \{{moment-duration 210 'days'}}
</code>
</div>
