<div class="example">
{{moment-diff lastHour currentTime}}
<code>
  \{{moment-diff lastHour currentTime}}
</code>
</div>

<div class="example">
{{moment-diff currentTime inTwelveHours precision='hour'}}
<code>
  \{{moment-diff currentTime inTwelveHours precision='hour'}}
</code>
</div>

<div class="example">
{{moment-diff currentTime inTwelveHours precision='day' float=true}}
<code>
  \{{moment-diff currentTime inTwelveHours precision='day' float=true}}
</code>
</div>

<div class="example">
{{moment-diff usIndependenceDay currentTime precision='year'}}
<code>
  \{{moment-diff usIndependenceDay currentTime precision='year'}}
</code>
</div>

<div class="example">
{{moment-diff currentTime usIndependenceDay precision='year'}}
<code>
  \{{moment-diff currentTime usIndependenceDay precision='year'}}
</code>
</div>
