<div class="example">
{{moment-format currentTime 'LLLL'}}
<code>
  \{{moment-format currentTime 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
<code>
  \{{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
</code>
</div>

<div class="example">
{{moment-format currentTime}}
<code>
  \{{moment-format currentTime}}
</code>
</div>

<div class="example">
{{moment-format usIndependenceDay 'LLLL'}}
<code>
  \{{moment-format usIndependenceDay 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format usIndependenceDay 'MMM DD, YYYY'}}
<code>
  \{{moment-format usIndependenceDay 'MMM DD, YYYY'}}
</code>
</div>

<div class="example">
{{moment-format currentTime 'LL' 'LLLL'}}
<code>
  \{{moment-format currentTime 'LL' 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (unix unixTimeStamp) 'LL' 'LLLL'}}
<code>
  \{{moment-format (unix unixTimeStamp) 'LL' 'LLLL'}}
</code>
</div>
