<div class="example">
{{moment-format (moment currentTime) 'LLLL'}}
<code>
  \{{moment-format (moment currentTime) 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (moment currentTime) 'LLLL'}}
<code>
  \{{moment-format (moment currentTime) 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (moment '123' 'hmm') 'HH:mm'}}
<code>
  \{{moment-format (moment '123' 'hmm') 'HH:mm'}}
</code>
</div>

<div class="example">
{{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
<code>
  \{{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
</code>
</div>

<div class="example">
{{moment-format (moment currentTime)}}
<code>
  \{{moment-format (moment currentTime)}}
</code>
</div>

<div class="example">
{{moment-format (moment usIndependenceDay) 'LLLL'}}
<code>
  \{{moment-format (moment usIndependenceDay) 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (moment usIndependenceDay) 'MMM DD, YYYY'}}
<code>
  \{{moment-format (moment usIndependenceDay) 'MMM DD, YYYY'}}
</code>
</div>

<div class="example">
{{moment-format (moment currentTime) 'LL' 'LLLL'}}
<code>
  \{{moment-format (moment currentTime) 'LL' 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format (unix unixTimeStamp) 'LL' 'LLLL'}}
<code>
  \{{moment-format (unix unixTimeStamp) 'LL' 'LLLL'}}
</code>
</div>
