<div class="example">
{{moment-format now 'LLLL'}}
<code>
  \{{moment-format now 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format now}}
<code>
  \{{moment-format now}}
</code>
</div>

<div class="example">
{{moment-format usIndependenceDay 'LLLL'}}
<code>
  \{{moment-format usIndependenceDay 'LLLL'}}
</code>
</div>

<div class="example">
{{moment-format usIndependenceDay 'MMM DD, YYYY'}}
<code>
  \{{moment-format usIndependenceDay 'MMM DD, YYYY'}}
</code>
</div>

<div class="example">
{{moment-format now 'LL' 'LLLL'}}
<code>
  \{{moment-format now 'LL' 'LLLL'}}
</code>
</div>
