<div class="example">
{{moment currentTime}}
<code>
  \{{moment currentTime}}
</code>
</div>

<div class="example">
{{moment (now interval=1000)}}
<code>
  \{{moment (now interval=1000)}}
</code>
</div>

<div class="example">
{{moment '12-25-1995' 'MM-DD-YYYY'}}
<code>
  \{{moment '12-25-1995' 'MM-DD-YYYY'}}
</code>
</div>
