<div class="example">
{{moment-to-now now}}
<code>
  \{{moment-to-now now}}
</code>
</div>

<div class="example">
{{moment-to-now lastHour interval=1000}}
<code>
  \{{moment-to-now lastHour interval=1000}}
</code>
</div>

<div class="example">
{{moment-to-now usIndependenceDay}}
<code>
  \{{moment-to-now usIndependenceDay}}
</code>
</div>
