<div class='example'>
  {{moment-diff this.lastHour this.currentTime}}
  <code>
    \{{moment-diff this.lastHour this.currentTime}}
  </code>
</div>

<div class='example'>
  {{moment-diff this.currentTime this.inTwelveHours precision='hour'}}
  <code>
    \{{moment-diff this.currentTime this.inTwelveHours precision='hour'}}
  </code>
</div>

<div class='example'>
  {{moment-diff this.currentTime this.inTwelveHours precision='day' float=true}}
  <code>
    \{{moment-diff this.currentTime this.inTwelveHours precision='day'
    float=true}}
  </code>
</div>

<div class='example'>
  {{moment-diff this.usIndependenceDay this.currentTime precision='year'}}
  <code>
    \{{moment-diff this.usIndependenceDay this.currentTime precision='year'}}
  </code>
</div>

<div class='example'>
  {{moment-diff this.currentTime this.usIndependenceDay precision='year'}}
  <code>
    \{{moment-diff this.currentTime this.usIndependenceDay precision='year'}}
  </code>
</div>