<div class='example'>
  {{moment-format (moment this.currentTime) 'LLLL'}}
  <code>
    \{{moment-format (moment this.currentTime) 'LLLL'}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment this.currentTime) 'LLLL'}}
  <code>
    \{{moment-format (moment this.currentTime) 'LLLL'}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment '123' 'hmm') 'HH:mm'}}
  <code>
    \{{moment-format (moment '123' 'hmm') 'HH:mm'}}
  </code>
</div>

<div class='example'>
  {{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
  <code>
    \{{moment-format (now interval=1000) 'MMMM Do YYYY, h:mm:ss a'}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment this.currentTime)}}
  <code>
    \{{moment-format (moment this.currentTime)}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment this.usIndependenceDay) 'LLLL'}}
  <code>
    \{{moment-format (moment this.usIndependenceDay) 'LLLL'}}
  </code>
</div>

<div class='example'>
  {{moment-format (utc (moment this.usIndependenceDay)) 'LLLL'}}
  <code>
    \{{moment-format (utc (moment this.usIndependenceDay)) 'LLLL'}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment this.usIndependenceDay) 'MMM DD, YYYY'}}
  <code>
    \{{moment-format (moment this.usIndependenceDay) 'MMM DD, YYYY'}}
  </code>
</div>

<div class='example'>
  {{moment-format (moment this.currentTime) 'LL' 'LLLL'}}
  <code>
    \{{moment-format (moment this.currentTime) 'LL' 'LLLL'}}
  </code>
</div>

<div class='example'>
  {{moment-format (unix this.unixTimeStamp) 'LL' 'LLLL'}}
  <code>
    \{{moment-format (unix this.unixTimeStamp) 'LL' 'LLLL'}}
  </code>
</div>