<div class="example">
{{moment-from-now currentTime}}
<code>
  \{{moment-from-now currentTime}}
</code>
</div>

<div class="example">
{{moment-from-now currentTime interval=1000}}
<code>
  \{{moment-from-now currentTime interval=1000}}
</code>
</div>

<div class="example">
{{moment-from-now usIndependenceDay}}
<code>
  \{{moment-from-now usIndependenceDay}}
</code>
</div>
