<div class='example'>
  {{moment this.currentTime}}
  <code>
    \{{moment this.currentTime}}
  </code>
</div>

<div class='example'>
  {{moment (now interval=1000)}}
  <code>
    \{{moment (now interval=1000)}}
  </code>
</div>

<div class='example'>
  {{moment '12-25-1995' 'MM-DD-YYYY'}}
  <code>
    \{{moment '12-25-1995' 'MM-DD-YYYY'}}
  </code>
</div>

<div class='example'>
  {{utc '12-25-1995 23:45:21' 'MM-DD-YYYY HH:mm:ss'}}
  <code>
    \{{utc '12-25-1995 23:45:21' 'MM-DD-YYYY HH:mm:ss'}}
  </code>
</div>

<div class='example'>
  {{utc interval=1000}}
  <code>
    \{{utc interval=1000}}
  </code>
</div>

<div class='example'>
  {{utc (moment this.now)}}
  <code>
    \{{utc (moment this.now)}}
  </code>
</div>