<div class="example">
{{moment-to-now currentTime}}
<code>
  \{{moment-to-now currentTime}}
</code>
</div>

<div class="example">
{{moment-to-now currentTime interval=1000}}
<code>
  \{{moment-to-now currentTime interval=1000}}
</code>
</div>

<div class="example">
{{moment-to-now usIndependenceDay}}
<code>
  \{{moment-to-now usIndependenceDay}}
</code>
</div>
