Locale:
<button type="button" {{action 'changeLocale' 'es'}}>ES</button>
<button type="button" {{action 'changeLocale' 'fr'}}>FR</button>
<button type="button" {{action 'changeLocale' 'en'}}>EN</button>

<hr>
Default Format:
<button type="button" {{action 'changeDefaultFormat' 'LLLL'}}>LLLL</button>
<button type="button" {{action 'changeDefaultFormat' 'DD.MM.YYYY'}}>DD.MM.YYYY</button>
<button type="button" {{action 'changeDefaultFormat' 'LL'}}>LL</button>

<hr>

<h3>Moment</h3>

{{partials/moment}}

<h3>Format</h3>

{{partials/format}}

<hr>

<h3>From Now</h3>

{{partials/from-now}}

<h3>To Now</h3>

{{partials/to-now}}

<hr>

<h3>Calendar</h3>

{{partials/calendar}}

<hr>

<h3>Duration</h3>

{{partials/duration}}

<hr>

<h3>Difference</h3>

{{partials/diff}}

<hr>

<h3>Computed Property Macros</h3>

{{partials/cps}}
