Locale:
<button {{action 'changeLocale' 'es'}}>ES</button>
<button {{action 'changeLocale' 'fr'}}>FR</button>
<button {{action 'changeLocale' 'en'}}>EN</button>

<hr>
Default Format:
<button {{action 'changeDefaultFormat' 'LLLL'}}>LLLL</button>
<button {{action 'changeDefaultFormat' 'DD.MM.YYYY'}}>DD.MM.YYYY</button>
<button {{action 'changeDefaultFormat' 'LL'}}>LL</button>

<hr>

<h3>Moment</h3>

{{partial 'partials/moment'}}

<h3>Format</h3>

{{partial 'partials/format'}}

<hr>

<h3>From Now</h3>

{{partial 'partials/from-now'}}

<h3>To Now</h3>

{{partial 'partials/to-now'}}

<hr>

<h3>Calendar</h3>

{{partial 'partials/calendar'}}

<hr>

<h3>Duration</h3>

{{partial 'partials/duration'}}

<hr>

<h3>Computed Property Macros</h3>

{{partial 'partials/cps'}}
